In [2]:
import pandas as pd
from keras.utils import to_categorical
import numpy as np
import matplotlib.pyplot as plt

In [21]:
data = pd.read_csv('lp5.data', sep='\t')
data.head(20)

                                           normal
NaN    -2.0   -1.0   81.0   0.0    -5.0       0.0
                     79.0   0.0    -4.0       0.0
                                   -4.0       0.0
                     80.0   0.0    -4.0       0.0
       -3.0   -1.0   79.0   1.0    -5.0       1.0
       -2.0   -1.0   81.0   0.0    -5.0       0.0
                     80.0   0.0    -4.0       0.0
                     79.0   0.0    -4.0       0.0
                                   -4.0       0.0
                                   -4.0       0.0
                     80.0   1.0    -4.0       0.0
       -1.0   -1.0   80.0   0.0    -4.0       1.0
       -2.0   -1.0   78.0   0.0    -5.0       0.0
       -3.0   -1.0   80.0   1.0    -4.0       1.0
       -2.0   -1.0   79.0   0.0    -4.0       0.0
normal NaN    NaN    NaN   NaN     NaN        NaN
NaN     6.0   -1.0   79.0  -2.0     4.0      -3.0
        42.0  -3.0   80.0   5.0     53.0      3.0
       -5.0    4.0   74.0  -15.0   -10.0     -1.0
       -4.0   -17.0  93.0   26.0   -6.0      -3.0